<!doctype html>
<html>
    <head>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js'></script>
    </head>
    <body>
        <script>
            const app = angular.module('todoApp', []);
            app.controller('todoAppCtrl', function($scope) {
                $scope.todoList = []
                $scope.addTodo = function(todo) {
                    $scope.todoList.push(todo)
                }
            });
        </script>

        <div ng-app='todoApp' ng-controller='todoAppCtrl'>
            <input type='text' ng-model='textInput'>
            <button ng-click='addTodo(textInput)'>add</button>
            <ul>
                <li ng-repeat='todo in todoList'>
                    {{todo}}
                </li>
            </ul>
        </div>
    </body>
</html>