<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src='node_modules/react/umd/react.development.js'></script>
        <script src='node_modules/react-dom/umd/react-dom.development.js'></script>
        <script src='node_modules/ngreact/ngReact.min.js'></script>
        <style type="text/css">
            .line_through {
                text-decoration: line-through;
            }
        </style>
    </head>
    <body>
        <script src='src/angularjs/index.js'></script>
        <script src='dist/react/index.js'></script>


        <div ng-app='todoApp' ng-controller='todoAppCtrl'>
            <input type='text' ng-model='textInput'>
            <button ng-click='addTodo(textInput)'>add</button>
            <ul>
                <li ng-repeat='todo in todoList'>
                    <span ng-class='{line_through : todo.done}'>
                        {{todo.name}}
                    </span>
                    <button ng-click='deleteTodo($index)'>delete</button>
                    <button ng-click='completeTodo($index)'>done</button>
                </li>
            </ul>
            <react-component name='Test' />
        </div>
    </body>
</html>